<h1>Add an Appointment</h1>
<%= form_with(model:[@doctor, @appointment], local: true, class: "ui form") do |f|%>
  <%= f.label :patient%>
  <%=f.select :patient_id, @patients.collect { |u| [u.name, u.id] }%>
  <br />
  <%= f.label :appointment_date %>
  <%= f.datetime_field :appointment_date%>
  <br />
  <%= f.submit nil, class: "ui green button inverted"%>
  <%end%>